body{
    margin: 0px;
    padding: 0px;
}
.container{
    
}
/* -------------------Header-------------------- */

.navbar, .footer{
    width: 100%;
    height: 60px;
    background-color: #292d4f;
}
.navLogo{
    display: inline-block;
}
.navLogo img{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navMenu{
    margin-right: 50px;
    float: right;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}
.navMenu li{
    display: inline;
}
.navMenu a{
    color: #e2f2e4;
    text-decoration: none;
    padding: 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#loginBtn{
    color: #48b5d6;
}
#loginBtn:hover{
    color: #e2f2e4;
}
/* ---------------------body--------------------- */

.subContainer1{
    width: 100%;
    height: 600px;
    border: 2px solid cyan;
}

/* --------------------footer-------------------- */

.footer{
    width: 100%;
    background-color: #292d4f;
    height: 400px;
}
.footer h1,p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 45px;
    color: #e2f2e4;
    margin: 0px;
}
.footerMenu{
    display: flex;
    justify-content: center;
}
.footerContact, .footerNavMenu,.footerLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 180px;
    margin: 30px 12px 12px 12px;
}
.footerNavMenu a,.footerLinks a{
    color: #e2f2e4;
    text-decoration: none;
    padding: 8px 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-align: center;
    font-weight: 5;
}
.footer a, .navMenu a:hover{
    color: #48b5d6;
}
.footer span{
    color: #48b5d6;
}
#copyright{
    margin-top: 20px;
}
#facebook:hover{
    color: #4267B2;
}
#youtube:hover{
    color: #c4302b;
}
#twitter:hover{
    color: #00acee;
}
#pinterest:hover{
    color: #E60023;
}
.phone,.mail,.address{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.footerContact{
    justify-content: center;
    align-items: baseline;
}

