body{
    margin: 0px;
    padding: 0px;
}
.container{
    
}
/* -------------------Header-------------------- */

.navbar{
    width: 100%;
    height: 60px;
    background-color: #292d4f;
}
.navLogo{
    display: inline-block;
}
#logo{
    width: 200px;
}
#menu-icon{
    display: none;
}
.navLogo img{
    margin-left: 20px;
    margin-top: 15px;
}
.navMenu{
    margin-right: 50px;
    float: right;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}
.navMenu li{
    display: inline;
}
.navMenu a{
    color: #e2f2e4;
    text-decoration: none;
    padding: 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#loginBtn{
    color: #48b5d6;
}
#loginBtn:hover{
    color: #e2f2e4;
}
@media only screen and (max-device-width : 1005px) {
    #body{
        width: 100%;
    }
    #menu-icon{
        display: inline-block;
        float: right;
        margin-top: 20px;
        margin-right: 20px;
    }
    #navMenu{
        display: none ;
    }
}
/* ---------------------body--------------------- */

/* ---------------------subContainer------------- */
.subContainer1{
    width: 100%;
    height: 700px;
}
.subContainer1 img{
    opacity: 0.3;
}
.previous-slide, .next-slide {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #292d4f;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.previous-slide{
    left: 0;
    border-radius: 5pdx 0 0 5px;
}
.next-slide {
    right: 0;
    border-radius: 5px 0 0 5px;
}


.previous-slide:hover, .next-slide:hover {
    background-color: #e2f2e4;
}
.carousel-indicators{
    position: absolute;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 2px;
    background-color: #292d4f;
    border-radius: 50%;
    display: inline-block;
    transition:  0.6s ease;
}
#carousel-indicators{
    display: block;
    position: static;
}
.homepage-data{
    position: absolute;
    top: 20;
    left: 50%;
}
.subContainer2{
    width: 100%;
    height: 700px;
    border: 2px solid black;
    margin: 50px 0;
}
/* --------------------footer-------------------- */

.footer{
    width: 100%;
    background-color: #292d4f;
    height: 350px;
}
.footer h1,p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 45px;
    color: #e2f2e4;
    margin: 0px;
}
@media only screen and (max-device-width : 1005px) {
    
    #footerContact, #footerNavMenu,#footerLinks{
        display: none;
        height: 180px;
        margin: 30px 12px 12px 12px;
        font-size: 14px;
    }
    #footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    #footerlogo{
        width: 150px;
    }
}

.footerMenu{
    display: flex;
    justify-content: center;
}
.footerContact, .footerNavMenu,.footerLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 180px;
    margin: 30px 12px 12px 12px;
}
.footerNavMenu a,.footerLinks a{
    color: #e2f2e4;
    text-decoration: none;
    padding: 5px 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-align: center;
    font-weight: 5;
}
.footerContact a:hover{
    color: #48b5d6;
}
.footerNavMenu a:hover{
    color: #48b5d6;
}
.navMenu a:hover{
    color: #48b5d6;
}
.footer span, .footer h1{
    color: #48b5d6;
}
/* #copyright{
    margin-top: 20px;
} */
#facebook:hover{
    color: #4267B2;
}
#youtube:hover{
    color: #c4302b;
}
#twitter:hover{
    color: #00acee;
}
#pinterest:hover{
    color: #E60023;
}
.phone,.mail,.address{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.phone a,.mail a,.address a{
    text-decoration: none;
    color: #e2f2e4;
}
.footerContact{
    justify-content: center;
    align-items: baseline;
}

